package templates

import "course/internal/tasks/models"

templ AddArticle(chapters []*models.Chapter){
    <select class="select" id="chapter" name="chapter">
    for _, ch := range chapters{
        <option value={ ch.ID }>{ ch.Name }</option>
    }
</select>
<div class="container">
    <div class="first-column">
        <br>
        <label for="task">Статья</label>
        <br>
        <textarea
            class="text"
            type="text"
            name="task"
            id="task">
        </textarea>
        <br>
        <button class="button" id="show-result-button">
            Посмотреть результат
        </button>
    </div>
    <div class="second-column">
        <label for="task-box">Статья:</label>
        <div class="task-box" id="task-box"></div>
        <button class="button" id="add-task">
            Добавить статью
        </button>
    </div>        
</div>


<script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="/static/js/add_article.js"></script>
}