package templates

templ MainAdminPage(){
    <h1><a href="/admin/add_chapter">Добавить раздел</a></h1>
    <h1><a href="/admin/add_task">Добавить задание</a></h1>
    <h1><a href="/admin/add_article">Добавить статью</a></h1>
    
}