package templates

import (
    "course/internal/tasks/models"
    "fmt"
)

templ TasksPage(tasks []*models.Task) {
    for _, t := range tasks{
        if t.TypeContent == "title" {
            {{ link := fmt.Sprintf("/task?id=%d", t.ID) }}
            <a href = { link }>{ t.Name }</a>
            <br>
        } if t.TypeContent == "task" {
            <h2>
            $${ t.Name }$$
            <details>
                <summary>Ответ:</summary>
            ${ t.Answer }$
            </details>
            </h2>
        } if t.TypeContent == "article" {
            <h2>
            { t.Name }
            </h2>
        }        
    }
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
}