package templates

import (
    "course/internal/tasks/models"
    "fmt"    
)

templ TasksPage(tasks []*models.Task) {
    for _, t := range tasks{
        switch t.TypeContent{
        case "title":
            {{ link := fmt.Sprintf("/task?id=%d", t.ID) }}
            <a href = { link }>{ t.Name }</a>
            <br>
        case "task":
            <h2>
            $${ t.Name }$$
            <details>
                <summary>Ответ:</summary>
            ${ t.Answer }$
            </details>
            </h2>
        case "article":
            <h2>
            { t.Name }
            </h2>
        case "task_with_picture":
            <h2>
            $${ t.Name }$$
            <img src={ templ.SafeURL(t.PictureURL) } alt="Чертеж" loading="lazy"/>
            <p>{ templ.SafeURL(t.PictureURL) }</p>
            <p>{ t.PictureURL }</p>
            <p>{ templ.SafeURL(templ.URL(t.PictureURL)) }</p>
            <details>
                <summary>Ответ:</summary>
            ${ t.Answer }$
            </details>
            </h2>
        default:
            <h3>Нифига не понятно</h3> 
        }
    }
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
}